.ledger-regular {
  font-family: "Ledger", serif;
  font-weight: 400;
  font-style: normal;
}


.red {
  color: indianred;
}

.green {
  color: darkolivegreen;
}

.blue {
  color: cadetblue;
}

.goldenrod{
color: goldenrod;
}

.pink{
  color: pink;
}

.color{
  color: steelblue;
}